<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404</title>
    <link rel="stylesheet" type="" href="./../static/css/index.css">
</head>
<body> 
    <div id="page">
        <div id="header" class="status4xx">
            <h1>ERROR 404 - Not Found!</h1>
        </div>
        <div id="content">
            <h2>The following error occurred:</h2>
            <p>The requested URL was not found on this server.</p>
			<p>Please check the URL or contact the <!--WEBMASTER//-->webmaster<!--WEBMASTER//-->.</p>
        </div>
        <div id="footer">
            <p>Powered by <a href="https://github.com/peanutDD" rel="nofollow">goodvv</a></p>
        </div>
    </div>
</body>
</html>